name: Build pipedrive connector

run-name: >
     Build pipedrive with version: ${{ github.event.inputs.version }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Set version that will be used for images tag'
        type: string
        required: true
      create_modal_id:
        description: 'If set, overwrite create-modal-id with value that you specify'
        type: string
        required: false
      backend_gateway:
        description: 'If set, overwrite backend_gateway with value that you specify'
        type: string
        required: false
      type:
        type: choice
        description: For which environment should substitute arguments?
        options:
        - 'prod'
        - 'dev'

env: 
  PRODUCT_VERSION: ${{ github.event.inputs.version }}
          
jobs:
  build:
    name: "Build tag: ${{ github.event.inputs.version }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: | 
           apt-get update -y 
           apt-get install -y ttf-mscorefonts-installer
