name: Build pipedrive connector

run-name: >
     Build pipedrive with version: ${{ github.event.inputs.version }}

on:
  push:

env: 
  PRODUCT_VERSION: ${{ github.event.inputs.version }}
          
jobs:
  build:
    name: "Build tag: ${{ github.event.inputs.version }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: | 
           apt-get update -y 
           apt-get install -y ttf-mscorefonts-installer
