name: Build pipedrive connector

run-name: >
     Build pipedrive with version: ${{ github.event.inputs.version }}

on:
  push:

env: 
  PRODUCT_VERSION: ${{ github.event.inputs.version }}
          
jobs:
  build:
    name: "Build tag: ${{ github.event.inputs.version }}"
    strategy:
      fail-fast: false
      matrix:
        image: ["1", "2", "3", "4", "5", "6"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        shell: bash
        run: | 
           set -euo pipefail
           URL="https://sourceforge.net/projects/corefonts/files/the%20fonts/final/andale32.exe/download?use_mirror=autoselect"
           echo "Downloading: $URL"
  
           curl -fL -C - --retry 3 --retry-delay 2 -o andale32.exe "$URL"

           ls -la

      - name: check2
        shell: bash
        run: |
           sleep 15
           set -euo pipefail
           URL="https://sourceforge.net/projects/corefonts/files/the%20fonts/final/andale32.exe/download?use_mirror=autoselect"
           echo "Downloading: $URL"
  
           curl -fL -C - --retry 3 --retry-delay 2 -o andale32.exe "$URL"

           ls -la
