name: Build pipedrive connector

run-name: >
     Build pipedrive with version: ${{ github.event.inputs.version }}

on:
  push:

env: 
  PRODUCT_VERSION: ${{ github.event.inputs.version }}
          
jobs:
  build:
    name: "Build tag: ${{ github.event.inputs.version }}"
    strategy:
      fail-fast: false
      matrix:
        image: ["1", "2", "3", "4", "5", "6"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: | 
           export DEBIAN_FRONTEND=noninteractive
           export ACCEPT_EULA=Y
           sudo echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | debconf-set-selections 
           sudo apt-get update -y 
           sudo apt-get install -y ttf-mscorefonts-installer

      - name: check1
        run: curl -L -C - -o andale32.exe "https://sourceforge.net/projects/corefonts/files/the%20fonts/final/andale32.exe/download?use_mirror=autoselect"
