name: Build pipedrive connector

run-name: >
     Build pipedrive with version: ${{ github.event.inputs.version }}

on:
  push:

env: 
  PRODUCT_VERSION: ${{ github.event.inputs.version }}
          
jobs:
  build:
    name: "Build tag: ${{ github.event.inputs.version }}"
    strategy:
      fail-fast: false
      matrix:
        image: ["1", "2", "3", "4", "5", "6"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: | 
           export DEBIAN_FRONTEND=noninteractive
           export ACCEPT_EULA=Y
           #sudo apt-get update -y 
           #sudo apt-get install -y ttf-mscorefonts-installer

      - name: check2
        shell: bash
        run: |
           set -euo pipefail
           URL="https://sourceforge.net/projects/corefonts/files/the%20fonts/final/andale32.exe/download?use_mirror=autoselect"
           echo "Downloading: $URL"
  
           curl -fL -A "Mozilla/5.0" -c cookies.txt -b cookies.txt -C - --retry 3 --retry-delay 2 -o andale32.exe "$URL"
