name: Docs Desktop Test EXE (amd64/arm64)

run-name: >-
    CI Docs Windows [Build #${{ inputs.build }} 
                          Arch: ${{ inputs.arch }} 
                          Version: ${{ inputs.version }}
                    ]
                    [
                    ${{ inputs.community && 'CE' || '-' }}
                    ${{ inputs.developer && 'DE' || '-' }}
                    ${{ inputs.enterprise && 'EE' || '-' }}
                    ]

on:
  push:
  workflow_dispatch:
    inputs:
      build:
        description: 'Please specify windows package build'
        type: string
        required: true
      version:
        description: 'Please specify windows package version'
        type: string
        required: true
      arch:
        type: string
        description: 'Type arch amd64 or arm64'
        required: true
      community:
        type: boolean
        description: 'Test Exe Community Edition'
        default: true
      enterprise:
        type: boolean
        description: 'Test Exe Enterprise Edition'
        default: true
      developer:
        type: boolean
        description: 'Test Exe Developer Edition'
        default: true
  
jobs:
  test:
    name: test
    #name: "Test Win Docs-${{ matrix.edition }}-${{ matrix.arch }}"
    runs-on: ${{ (github.event.inputs.arch == 'arm64') && 'windows-11-arm' || 'windows-latest' }}
    steps:
    - name: Download
      run: |
         curl -L "${{ secrets.PACKAGE_URL }}/desktop/win/inno/ONLYOFFICE-DesktopEditors-9.2.0.80-x64.exe" -o ONLYOFFICE-DesktopEditors-9.2.0.80-x64.exe
         
    - name: Install
      shell: cmd
      run: |
           ONLYOFFICE-DesktopEditors-9.2.0.80-x64.exe /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /DS_PORT=8200 /LOG="C:\desktop-install-log.txt"

    - name: Verify
      run: |
         if (!(Test-Path "C:\Program Files\ONLYOFFICE\DesktopEditors")) {
              Write-Error "App not installed!"
         }

         Write-Host "Files in DesktopEditors:"
         ls "C:\Program Files\ONLYOFFICE\DesktopEditors"

    - name: Check version and run binary headless
      shell: pwsh
      run: |
          $exe = "C:\Program Files\ONLYOFFICE\DesktopEditors\DesktopEditors.exe"
          if (!(Test-Path $exe)) {
            Write-Error "Executable not found!"
          }
          
          Write-Host "=== Version Info ==="
          (Get-Item $exe).VersionInfo

          Write-Host "=== Running DesktopEditors in headless mode ==="
          Start-Process -FilePath $exe -ArgumentList "--help" -NoNewWindow -Wait
          Write-Host "Exit code: $LASTEXITCODE"    

    - name: Upload install log
      if: always()
      uses: actions/upload-artifact@v4
      with:
         name: desktop-install-log
         path: C:\desktop-install-log.txt
